{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Usuários</h1>
    <a href="{{ url_for('main.novo_usuario') }}" class="btn btn-primary btn-block mb-3">Novo Usuário</a>
    
    {% if usuarios %}
        <div class="user-list">
            {% for usuario in usuarios %}
            
                {% if usuario.foto_perfil %}
                    {% set foto_usuario = url_for('static', filename='uploads/profile_photos/' ~ usuario.foto_perfil) %}
                {% else %}
                    {% set foto_usuario = url_for('static', filename='uploads/profile_photos/picareta_03.jpg') %}
                {% endif %}


                <div class="user-card {{ 'user-active' if usuario.is_ativo else 'user-inactive' }}">
                    <div class="user-header">
                        <div class="user-main-foto">
                            <a href="{{ url_for('main.perfil_usuario', id_usuario=usuario.id_usuario) }}" class="user-foto" title="Página perfil">
                                <img src="{{ foto_usuario }}" class="rounded-circle img-fluid mb-3" />
                            </a>
                        </div>

                        <div class="user-main-info">
                            <h6 class="user-name mb-0">{{ usuario.nome_usuario }}</h6>
                            <span class="user-login text-muted small">{{ usuario.login_usuario }}</span>
                        </div>
                        <div class="user-status-actions">
                        
                            squad
                            is_admin

                            <span class="badge badge-secondary">
                                {{ usuario.saldo_pontos_usuario }} Bolos
                            </span>
                        </div>
                    </div>
                    
                    <div class="user-actions">
                        {% if usuario.is_ativo %}
                            <a href="{{ url_for('main.editar_usuario', id_usuario=usuario.id_usuario) }}" class="btn btn-warning btn-sm" title="Editar"><i class="icon icon-edit"></i></a>
                            <a href="{{ url_for('main.desativar_usuario', id_usuario=usuario.id_usuario) }}" class="btn btn-danger btn-sm" title="Desativar" onclick="return confirm('Tem certeza que deseja desativar este usuário?')"><i class="icon icon-deletar"></i></a>
                        {% else %}
                            <a href="{{ url_for('main.reativar_usuario', id_usuario=usuario.id_usuario) }}" class="btn btn-primary btn-sm" title="Reativar" onclick="return confirm('Tem certeza que deseja reativar esse usuário?')"><i class="icon icon-reativar"></i></a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-info text-center">
            Nenhum usuário encontrado.
        </div>
    {% endif %}
</div>

<style>
    
</style>
{% endblock %}