{% extends 'base.html' %}

{% block content %}

  <div class="container mt-5">
    <h1 class="mb-4">Editar Regras</h1>

    <form method="POST">
      {{ form.hidden_tag() }}

      <div class="mb-3">
        {{ form.conteudo_regras(class="form-control", rows="10") }}
        {% if form.conteudo_regras.errors %}
          <ul class="errors">
            {% for error in form.conteudo_regras.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <button type="submit" class="btn btn-primary">Salvar Nova Versão</button>
      <a href="{{ url_for('main.visualizar_regras') }}" class="btn btn-secondary">Cancelar</a>

    </form>

  </div>
{% endblock %}
