<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('main.home') }}">BoloApp</a>
        <button class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.home') }}">Início</a>
                </li>

                {% if current_user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.listar_promessas') }}">Promessas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.listar_transacoes_pontos') }}">Transações de Bolos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.listar_logs') }}">Logs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.visualizar_regras') }}">RDB</a>
                    </li>

                {% endif %}
                {% if current_user.is_authenticated and current_user.is_administrador %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button">
                            Administração
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownAdmin">
                            <li><a class="dropdown-item" href="{{ url_for('main.listar_usuarios') }}">Usuários</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('main.listar_squads') }}">Squads</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('main.listar_categorias') }}">Categorias</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('main.criar_convite') }}">Criar Convite</a></li>
                        </ul>
                    </li>
                
                {% endif %}
            </ul>

            <ul class="navbar-nav">
                {% if current_user.is_authenticated %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button">
                        {{ current_user.nome_usuario }}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('main.logout') }}">Sair</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.login') }}">Login</a>
                </li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>
